@import "assets/styles/vars.module.scss";

.section {
  max-height: 90vh;
  padding: 150px 0;
  position: relative;
  &::before {
    content: "";
    width: 70%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../../../assets/img/promo/promo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $MAIN_BLACK;
    opacity: 0.6;
  }
  @media (max-width: 1200px) {
    &::after {
      opacity: 0.4;
    }
  }
}

.content {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;
  @media (max-width: 1200px) {
    align-items: center;
    text-align: center;
  }
}

.title {
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 8px;
  color: transparent;
  -webkit-text-stroke: 1px $ACCENT_YELLOW;
  //max-width: 430px;
  // position: relative;

  /*&::after {
    content: "";
    position: absolute;
    bottom: -45px;
    display: block;
    height: 1px;
    width: 240px;
    background-color: white;
  }
  span {
    font-weight: 500;
  }*/
  @media (max-width: 1200px) {
    &::after {
      left: calc(50% - 120px);
    }
  }
  @media (max-width: 550px) {
    font-size: 30px;
  }
}

.subtitle {
  margin-top: 40px;
  font-size: 22px;
  //max-width: 200px;
  line-height: 1.2;
  color: white;

  @media (max-width: 550px) {
    font-size: 22px;
  }
}
