@import "assets/styles/vars.module.scss";

.content {
  padding: 37px 25px 27px 25px;

  background-color: $MAIN_GREY;
  border: $BORDER_GREY;
  transition: border 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    border: $BORDER_YELLOW;
  }
}

.top {
  img {
    margin-bottom: 60px;
  }
}

.text {
  margin-top: 25px;
}
