@import "assets/styles/vars.module.scss";

.filesItem {
  position: relative;
  z-index: 10;
  max-height: 290px;
  min-width: 210px;
  flex-shrink: 0;

  & img {
    padding: 0 20px 20px 0;
    height: 100%;
    max-width: 100%;
    z-index: 150;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $MAIN_GREY;
    border: $BORDER_GREY;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    transition: border 0.3s;
    z-index: -1;
  }
  &:hover::after {
    border: $BORDER_YELLOW;
  }
}
