@import "assets/styles/vars.module.scss";

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.menu {
  display: flex;
  gap: 60px;

  a {
    transition: color 0.3s;
  }
  a:hover {
    color: $ACCENT_YELLOW;
  }
}
