@import "assets/styles/vars.module.scss";

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 12px;
  max-width: 170px;
  & img {
    height: 37px;
  }
}

.menu {
  display: flex;
  gap: 60px;

  a {
    transition: color 0.3s;
  }
  a:hover {
    color: $ACCENT_YELLOW;
  }
}
