@import "assets/styles/vars.module.scss";

.content {
  padding: 120px 0 360px 0;
}

.contactsCard {
  padding: 97px 70px;
  background-color: $ACCENT_YELLOW;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.descr {
  flex: 0 0 50%;
  font-size: 64px;
  color: $MAIN_BLACK;
}

.contactsBtns {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
