@import "assets/styles/vars.module.scss";

.section {
  background-color: $MAIN_GREY;
}

.content {
  padding: 50px 0 160px 0;
}

.title_h2__double {
  margin-bottom: 120px;
}

.advantages {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 80px;
}
