@import "./reset.module.scss";
@import "./vars.module.scss";

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;700&display=swap");

body {
  font-family: "Geologica", sans-serif;
  background-color: $MAIN_BLACK;

  color: white;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.4px;
}
